.col-md-6.center.buttons
	= link_to "SignIn", new_user_session_path, class: "btn btn-primary btn-lg"
.col-md-6.center.buttons
	= link_to "SignUp", new_user_registration_path, class: "btn btn-primary btn-lg"