$('#myModal').modal('hide');
<% if @project.errors.present? %>
	<% @project.errors.full_messages.each do |message| %>
		showFlashMesage('<p class="alert alert-danger"><%= j message %></p>');
	<% end %>
<% else %>
	<% if @project.persisted? %>
		$(".projects").append('<%= j render "projects/project", project: @project %>');
		showFlashMesage('<%= j render "layouts/flash" %>');
	<% end %>
	<% end %>
	

