$(function() {
	$('#new_project_submit').on("click", function(){
		var project_title;
		project_title = $('#new_project_title').val();
		$.ajax({
      type: "POST",
      url: "/projects",
      data: { title: project_title },
      error: function(e){
	      	error_title = JSON.parse(e.responseText)['title'][0];
	      	$('.flash').append(createFlashMessage(error_title));
	      }
    });

		var createFlashMessage = function(title){
    		return '<p class="alert alert-danger">Title '+title+'</p>'
    };
	});
});